@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10÷16=62.5% */
}

body {
    /*font-size: 1.2rem;*/
    background: #F8F8F8;
    line-height: 1;
}

a {
    cursor: pointer;
}

ul {
    width: 180px;
    background: #faf2dd;
    position: relative;
    z-index: 0;
    padding: 20px 20px 30px;
    height: 100%;
}

ul li {
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #F8F8F8;
}

ul li a {
    color: #666;
    display: block;
}

ul li a:hover {
    color: #FF5F3E;
    text-decoration: none;
}

ul li a.hover {
    color: #FF5F3E;
}

#current {
    width: 180px;
    height: 40px;
    line-height: 40px;
    background: #F8F8F8;
    border-right: 5px solid #FF5F3E;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: -1;
    transition: top .2s;
}

.search-container {
    width: 1000px;
    margin: 50px auto;
}

.search-condition {
    height: 40px;
    width: 300px;
    border: 1px dotted orange;
    padding: 0 10px;
}

.btn-tip {
    display: inline-block;
    margin-left: 30px;
    padding: 10px;
}

.addTip {
    padding: 10px;
    font-size: 18px;
}

.small-category-container {
    width: 100%;
    min-height: 50px;
    margin-top: 10px;
    border: 1px solid #ddd;
}

.small-category {
    padding: 5px 5px;
}

.small-category-tip {
    display: inline-block;
    padding-top: 3px;
    vertical-align: top;
}

.small-category-text {
    width: 75px;
    text-align: right;
}

.item-container {
    display: inline-block;
    width: 750px;
}

.search-container-item {
    padding: 4px 5px;
    display: inline-block;
    /*    background-color: #c1e2b3;
        border: 1px solid #3d8b3d;*/
}

.search-menu-list {
    width: 100%;
    top: 5px;
    position: relative;
    border: 1px solid #ddd;
    display: none;
}

#category_menu_list, .content {
    float: left;
}

.sub-content {
    padding: 10px;
    margin: 10px;
    width: 790px;
}

.close-container {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 20px;
    z-index: 10;
}

dl {
    padding: 3px 5px;
    border-bottom: 1px dotted #ccc;
    width: 100%;
}

dt {
    padding: 3px;
    font-size: 16px;
    color: #f0ad4e;
}

dd {
    display: inline-block;
    padding: 3px;
    font-size: 14px;
}

.item, .search-remove, .close-container, .search-container-item {
    cursor: pointer;
}

.search-container-item-clicked {
    color: red;
}

.item {
    padding: 2px 3px;
}

.selected {
    color: grey;
    cursor: auto !important;
}

.not-selected {
    cursor: auto;
}

.plus {
    width: 17px;
    height: 17px;
    margin-top: -5px;
}

.close-btn, .remove-btn {
    margin: 2px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.close-btn {
    width: 15px;
    height: 15px;
}

.confirm-btn {
    color: green;
}

.remove-btn {
    width: 14px;
    height: 14px;
}

.product-brand {
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
}

.brand-name, .brand-items {
    float: left;
}

.brand-name {
    width: 60px;
}

.brand-items {
    width: 75%;
}

.brand-item {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px 3px 5px;
}

.brand-more {
    float: right;
    width: 50px;
    border: 0;
    cursor: pointer;
}